<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Share Wall</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3 style="color:white;">Share Wall</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <iframe height="700px" width=1200px src="images/919.mp4" frameborder=0 allowfullscreen></iframe>


        <h2>&nbsp;</h2>
        <div class="container c">
            <img class="img1 b" src="p1.jpg" >
            <img class="img2 b" src="p2.jpg">
            <img class="img3 b" src="p3.jpg">
            <img class="img4 b" src="p4.jpg" >
            <img class="img5 b" src="p5.jpg">


        </div>
        </div>
</div>